# Ignore
**/*.*
**/LICENSE
**/LICENSE-MIT
**/README
**/VERSION

# Allow
!.gitignore
!/wa-plugins/shipping/glavpunktcourier/**
!/wa-plugins/shipping/glavpunktpost/**
!/wa-plugins/shipping/glavpunktpoints/**
!/wa-plugins/shipping/glavpunkt/**
